{% extends "index.html.twig" %}

{% block section %}

  <div id="batiment">

  <h2>{{batiment.nom}}</h2>

  <input type="hidden" id="lat" value="{{batiment.longitude}}">
  <input type="hidden" id="lon" value="{{batiment.latitude}}">
  {% if batiment.desc == "" %}
    <p>Aucune description n'a été ajoutée à ce batiment.</p>
    <form method="post" action="index.php?action=batimentModifie">
      <textarea placeholder="Ajoutez une description..." name="desc"></textarea>
      <input type="hidden" name="idBat" value="{{batiment.idBat}}">
      <input type="submit" value="Valider">
    </form>
  {% else %}

    <p>{{batiment.desc}}</p>
      <form method="post" action="index.php?action=modifBat">
        <input type="hidden" name="idBat" value="{{batiment.idBat}}">
        <input type="submit" class="bouton" value="Modifier la description">
    </form>
  {% endif %}

  <div id="commentaires">

  <h2>Avis sur la salle</h2>

  {% if messages ==[] %}
    <p>Il n'y a aucun avis sur cette salle.</p>

  {% else %}

    <ul class="avis">
      {% for message in messages %}
        <li>{{message.descMess}}</li>
      {% endfor %}
    </ul>
  {% endif %}

   <form method="post" action="index.php?action=ajoutMessage">
      <textarea placeholder="Ajoutez un message..." name="message"></textarea>
      <input type="hidden" name="idBat" value="{{batiment.idBat}}">
      <input type="submit" value="Valider">
    </form>
  </div>
  </div>


  <div id="carteAffichage">
  </div>

  


{% endblock %}